node_modules/
build/

npm-debug.log
.publish
.sw*
.idea
.vscode
coverage

/etc/mosquitto/mosquitto.db
/firmwares/*
config.ini
devices.json
devices.json.*
nodes.json
nodes.json.*
firmwares.json
firmwares.json.*

*.pyc